PG_PASS=fajZnWGdHOhnn6QfHLsC5gvAEWjab4ZHZiARQPjVNC3e7kUl
AUTHENTIK_SECRET_KEY=TaoD6WL0bEETxlUWdToscVCmAS49T30CtBbo55TX9fNljMrz
AUTHENTIK_ERROR_REPORTING__ENABLED=true
# # SMTP Host Emails are sent to
# AUTHENTIK_EMAIL__HOST=localhost
# AUTHENTIK_EMAIL__PORT=25
# # Optionally authenticate (don't add quotation marks to your password)
# AUTHENTIK_EMAIL__USERNAME=
# AUTHENTIK_EMAIL__PASSWORD=
# Use StartTLS
AUTHENTIK_EMAIL__USE_TLS=false
# Use SSL
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=10
# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM=authentik@localhost
COMPOSE_PORT_HTTP=80
COMPOSE_PORT_HTTPS=443
